body {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f0e6da;
  align-items: center;
}
.title {
  color: #f0e6da;
  font-family: "Impact";
  font-size: 5.5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 10px 20px;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}
.title_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;

  width: 35%;
  background-color: #600303;
  border-radius: 100px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.22, 0.575, 0.565, 1);
  transform: scale(1);
}
.title_box:hover {
  background-color: #f0e6da;
  box-shadow: 0px 15px 15px#6003039e;
  transform: scale(1.05);
}
.title_box:hover .title {
  color: #600303;
  letter-spacing: 1px;
}
.line {
  width: 95%;
  
  border: solid 5px #600303;
  margin-bottom: 30px;
  margin-top: 30px;
}
h1,
h2 {
  margin: 15px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #600303;
  text-transform: uppercase;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
ol,
ul {
  font-family: Arial, sans-serif;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
.huston1,
.huston2,
.huston3 {
  width: 100%;
  margin-bottom: 15px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #600303;
  text-align: justify;
  font-size: large;
  flex-grow: 1;
  text-wrap: pretty;
  transition: color 0.3s ease;
}

.container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 90%;
  padding: 40px;
  background-color: #600303;
  border-radius: 30px;
  margin: auto;
  box-shadow: 0px 5px 5px #0000004b;
}
.box {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f0e6da;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.22, 0.575, 0.565, 1);
  transform: scale(1);
  box-shadow: 5px 8px 10px #00000090;
}

.box:hover {
  background-color: #600303;
  opacity: 1;
  border: 3px solid #f0e6da4d;
  transform: scale(1.05);
}
.box:hover .huston1,
.box:hover .huston2,
.box:hover .huston3 {
  color: #f0e6da;
}
.list1 {
  background-color: #600303;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 50px;
}
.soder,
a {
  color: #f0e6da;
  line-height: 25px;
}
.soder > li {
  padding-left: 10px;
  text-indent: 7px;
}

.soder {
  text-indent: 5px;
  font-size: 20px;
}
.soder a {
  display: inline-block;
  text-decoration: none;
  border-radius: 30px;
  padding: 5px;
  transition: all 0.3s ease;
  transform: scale(1);
}
.soder a:hover {
  color: #f0e6da;
  background-color: #f0e6da41;
  transform: scale(1.05);
}
.soder a:active {
  background-color: #f0e6da;
}
.list1 img {
  width: 60%;
  align-items: end;
  margin: auto;
  padding-top: 100px;
  margin-left: 25px;
  border-radius: 200px 200px 0px 0px;
  border: 1px solid #f0e6da;
}
.container2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 370px;
  background-color: #600303;
  color: #f0e6da;
  gap: 20px;
  width: 95%;
  box-shadow: 0px 5px 5px #0000004b;
  border-radius: 30px;
  transition: all 0.4s cubic-bezier(0.22, 0.575, 0.565, 1);
  transform: scale(1);
}
.ParagBox {
  flex-direction: column;
  margin-top: 7px;
}
.container2 .EtimParag {
  margin: auto;
  padding: 20px;
}

.SamHouston img {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  margin-top: 20px;
  margin-left: 30px;
  align-items: center;
}

.ParagBox .line {
  border: solid 1px #f0e6da;
  width: 1000px;
  align-items: flex-start;
  margin: 10px;
}
.SamHouston figcaption{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.container2:hover{
    transform: scale(1.03);
}
.container3{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    gap:15px;
}
.Osnov img{
    size: auto;
    margin: 3px auto;
    transition: all 0.4s ease;
}
.Osnov{
    background-color: #f0e6da;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    color: #600303;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    align-items: center;
    flex:1;
    text-align: center;
}
.osnovP{
    flex: 1;
    margin: auto;
    color: #600303;
    font-size: clamp(16px, 2vw, 20px); 
    background-color: #f0e6da;
    height: 300px;
    width: 400px;
    padding: 10px;
    box-sizing: border-box; 
    text-align: justify;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.img-box{
    display: flex;
    align-items: center;
    background-color: #600303;
    padding: 3px;
    width: 258px;
    height: 196px;
    margin-bottom: 20px;
    transition: all 0.3s cubic-bezier(0.22, 0.575, 0.565, 1);
    transform: scale(1);
}
.img-box:hover img{
    transform: scale(1.1);
}
.container4{
    color: #600303;
    font-size: 20px;
    width: 90%;
    text-align: justify;
}
.container4 div{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 20px;
}
.container4 div img{
    border: 3px solid #600303;
    margin: 10px
}